html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #000000;
    margin: 0 auto;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 7px;
    padding-left: 7px;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.contacts {
    margin-top: 30px;
}

.contacts__title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
    margin-bottom: 80px;
}

.contacts__info-h2,
.skills__title,
.summary__title,
.experience__title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 45px;
}

.contacts__collumns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contacts__collumn-img {
    max-width: 410px;
}

.contacts-photo {
    width: 100%;
    border-radius: 135px;
}

.contacts__list-list {
    line-height: 75px;
}

.contacts__list-item span {
    font-weight: 600;
}

.summary {
    margin-top: 50px;
}

.skills__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills__item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    min-height: 180px;
    border: 1px solid gray;
}

.skills__item-image {
    padding-top: 10px;
    max-width: 120px;
}

.skills__description {
    font-size: 20px;
    text-align: center;
    padding: 10px 5px;
}

.skills__examples-link {
    text-decoration: underline;
    color: blue;
}

.summary__list li {
    position: relative;
    padding-left: 50px;
}

.summary__list li::before {
    content: '';
    position: absolute;
    background: url(img/tick.svg);
    width: 25px;
    height: 25px;
    left: 15px;
}

.experience {
    margin-top: 20px;
}

.experiense__title-content {
    margin-top: 15px;
}